

mixin text-input(id, label)
    .control-wrapper(id="#{id}-wrapper")
        label(for=id)= label
        input(id=id)


mixin slider(id, label, min, max, step)
    .control-wrapper(id="#{id}-wrapper")
        label(for=id)= label
        input(id=id, type="range", min=min, max=max, step=step)


mixin button(id, label)
    .control-wrapper(id="#{id}-wrapper")
        button(id=id)= label
